<script type="text/javascript">
    window._mNHandle = window._mNHandle || {};
    window._mNHandle.queue = window._mNHandle.queue || [];
    medianet_versionId = "3121199";
</script>
<script src="//contextual.media.net/dmedianet.js?cid=8CU856K4B" async="async"></script>
<!-- put the above code in head -->            
<!-- put the below code in body -->
<div id="606180035">
    <script type="text/javascript">
        try {
            window._mNHandle.queue.push(function () {
                window._mNDetails.loadTag("606180035", "728x90", "606180035");
            });
        }
        catch (error) {}
    </script>
</div>
