---
layout: default
---

<!-- Page Header -->
{% assign is_home = page["is_home"] or page.url == '/' or page.url == '/index.html' %}
{% if is_home %}
<header class="intro-header video-header">
    <video autoplay muted loop playsinline preload="auto">
        <source src="{{ site.baseurl }}/{{ site.homepage-video }}" type="video/mp4">
        Your browser does not support the video background.
    </video>
{% else %}
    {% assign header_img = page["header-img"] | default: site.header-img | default: site.default-banner-img %}
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ header_img }}')">
{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% if is_home %}
                <div class="site-heading">
                    <h1></h1>
                    <hr class="small">
                    <span class="subheading"></span>
                </div>
                {% elsif page["no-header"] %}
                {% else %}
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
