---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>
<div style="position:relative;text-align:justify;" class="author-bio">
	<img style="float:left;margin-right:10px;" src="{{ site.url }}/assets/me-circle.png"> Darwin Biler is freelance PHP programmer specializing in Cloud-based and Big Data applications. 
	Mostly developing using Laravel/Symfony and Composer Libraries, among his skills includes Video Streaming (Wowza), MySQL, MongoDB, OpenStack, NewRelic, CentOS, Vagrant and an experienced developer with e-commerce sites and  biller integration with Epoch.com and Netbilling.com. He is also a Scrum practitioner, organizing sprints and managing development processes for large scale applications.
	<div style="clear:both;"></div>
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'darwinbiler';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>